@media screen and (max-width: 1024px) {
    header{
        .navbar-brand{
            order: 2;
        }
        .navbar-toggler{
            order: 1;
        }
        .language-bar{
            visibility: visible;
        }
    }

    .intro{
        .container-title{
            position: relative;
        
            max-width: 334px;
            margin: 46px auto 0 auto;        
            
            h1{                
                font-weight: 800;
                font-size: 30px;
                line-height: 37px;
                text-align: center;                                
            }
            &::after{
                content: "";
                position: absolute;
                width: 110px;
                height: 3px;
                background: $primary-gradient;
                transform: translate(100%); 
                bottom: -13px;               
            }
        }
        .container-text{
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            margin: 32px auto 0 auto;
        }
        .btn-row {            
            max-width: 205px;            
            margin: 30px auto 0 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            // justify-content: center;
            
            a.btn.btn-primary.btn-intro{
                // width: 145px;
                font-weight: 600;
                font-size: 13px;
                line-height: 1.2;
                padding: 14px 70px 14px 25px;
                span{
                    margin-left: 30px;
                }                 
            }
            a.btn.btn-success.btn-intro{
               
                margin-left: 0;
                margin-top: 17px;

                font-weight: 600;
                font-size: 13px;
                line-height: 1.2;
                padding: 17px 70px 17px 25px;
            }
            &::before{
                content: url(assets/img/background-image-tools.png);
                width: 437px;
                height: 142px;
                position: absolute;          
                top: 120px;
                left: -70px;
            } 
        }
    }

    .functional{
        padding-top: 10px;
        .container{
            flex-direction: column;
            justify-content: center;
            .functional_carousel{
                width: auto;
                order: 2;
                margin: 0 auto;
                .supporting{
                    .list-group-title{
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 20px;

                        color: #2E3A59;
                        margin-top: 31px;
                        margin-bottom: 31px;
                        text-align: center;
                        
                            .list-group-item{
                                border: none;
                                background: none;
                            }
                        
                    }
                }
                .functional__tab{
                    
                    .nav-tabs{
                        margin: 0 auto;
                        button{
                            margin-right: 10px;
                        }
                    }
                    .nav-tabs button.nav-link.nav-link--windows{
                        padding: 10px 16px 6px 7px;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        .nav-link__img{
                            margin-right: 0;
                            img{
                                transform: scale(0.7);
                                span{
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .nav-tabs button.nav-link.nav-link--android{
                        padding-left: 17px;
                        padding-right: 18px;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        .nav-link__img{
                            margin-right: 0;
                            img{
                                transform: scale(0.7);
                                span{
                                    margin-right: 0;
                                }
                            }
                        }                        
                    }
                    .nav-tabs button.nav-link.nav-link--iOS{
                        padding-left: 17px;
                        padding-right: 17px;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        .nav-link__img{
                            margin-right: 0;
                            img{
                                transform: scale(0.7);
                                span{
                                    margin-right: 0;
                                }
                            }
                        }
                        
                    }
                    
                }
                
            }
            .functional_block{
                height: auto;
                width: auto;
                margin-left: 0;                                    
                h2{
                    // order: 12;
                    font-weight: 800;
                    font-size: 30px;
                    line-height: 37px;

                    margin-bottom: 0 auto 20px auto;
                }
                p{
                    // order: 9;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    
                    padding: 0;
                    display: block;
                    max-width: 330px;
                    margin: 0 auto 30px auto;
                }
                ul{
                    order: 5;
                    margin-bottom: 36px;
                }                
                // .list-group-title
                h3{
                    display: none;                    
                }
                .list-group {
                    display: none;  
                    .list-group-item
                    {
                        // font-weight: 700;
                        // font-size: 12px;
                        // line-height: 15px;
                        // color: #2E3A59; 
                    }
                                       
                }
                .alert.alert-warning{
                    position: absolute;
                    top: -100%;
                }
                
                .btn-row{
                  position: absolute;  
                    top: 100%;
                }
            }
        }  
    }

    .testimonials{
        h2{
            font-weight: 800;
            font-size: 25px;
            line-height: 30px;
        }
        .testimonials__slider{
            max-width: 360px;
            width: 100%;
            padding: 0 2px 45px;
            img{
                width: 65px;
                height: 65px;
                margin: -32px auto 0;
                border: 3px solid $white;
            }
            h5{
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
            }
            p{
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                padding: 0 19px;
            }
        }
        .slick-track{
            padding-top: 58px; 
        }
        .slick-slide{
            border-radius: 5px;
            &::after{
                top: 115px;
                left: 309px;   
            }
        }
        .slick-arrow{
            width: 115px;
            height: 115px;    
            border-radius: 15px;
            transform: rotate(45deg);    
            z-index: 10;
            background: none;
            box-shadow: none;
        }
        .slick-prev{
            &::before{
                content: url(assets/img/testimonials-icon-arrow-left__white.svg);
                border: none;
                transform: rotate(315deg);
                // position: absolute;
                // top: -25px;
                // left: 0;        
            }

        }
        .slick-next{
            right: 0;
            &::before{
                content: url(/dev/assets/img/testimonials-icon-arrow-right__white.svg);
                border: none;
                transform: rotate(315deg);
                // position: absolute;
                // top: -25px;
                // left: 0;        
            }

        }
        .slick-next,
        .slick-prev{
            top: 216px;
        }
        

    }
    
    .tarifs{
        padding-top: 28px;
        h2{
            font-weight: 800;
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 37px;
            position: relative;
            &::before{
                content: "";
                width: 23px;
                height: 5px;
                
                position: absolute;
                transform: translateX(-22px) rotate(-45deg) translateY(5px);  
            }
            &::after{
                content: "";
                width: 23px;
                height: 5px;                
                position: absolute;
                transform: translateX(-30px) rotate(-45deg) translateY(40px);
            }
        }
        .tarifs__tab{
            .nav-tabs{
                margin-bottom: 45px; 
                button{
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    margin-right: 10px;
                    &.nav-link{                        
                        &.nav-link--windows{
                            padding: 10px 16px 6px 7px;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 15px;
                            .nav-link__img{
                                margin-right: 0;
                                img{
                                    transform: scale(0.7);
                                    span{
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                        &.nav-link--android{
                            padding-left: 17px;
                            padding-right: 18px;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 15px;
                            .nav-link__img{
                                margin-right: 0;
                                img{
                                    transform: scale(0.7);
                                    span{
                                        margin-right: 0;
                                    }
                                }
                            }                        
                        }
                        &.nav-link--iOS{
                            padding-left: 17px;
                            padding-right: 17px;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 15px;
                            .nav-link__img{
                                margin-right: 0;
                                img{
                                    transform: scale(0.7);
                                    span{
                                        margin-right: 0;
                                    }
                                }
                            }                            
                        }
                        .nav-link__img{
                            margin-right: 16px;                        
                        }                        
                    }                    
                } 
            }
        }
        .tarifs__item{
            flex-direction: column;
            align-items: center;
            .item__category{        
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;            
                padding-top: 16x;
                padding-bottom: 16px;
                border-top-right-radius: 55px;
                border-bottom-left-radius: 55px;
            } 
            .item--blue__category,
            .item--purple__category,
            .item--red__category,
            .item--blue,
            .item--purple,
            .item--red{
                max-width: 300px;
            }
            h3{
                font-weight: 600;
                font-size: 25px;
                line-height: 30px;

                padding-top: 25px;
                padding-bottom: 24px;
            }
            ul{
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;

                padding-left: 62px;
                li{
                    padding-bottom: 11px;
                }
            }
            .item__price{
                margin-left: 108px;
                margin-bottom: 21px;
                p{
                    font-weight: 600;
                    font-size: 35px;
                    line-height: 43px;
                    
                    &::after{
                        font-weight: 500;
                        font-size: 25px;
                        line-height:30px;               
                        transform: translateX(8px) rotate(0deg) translateY(-8px);
                    }
                }  
            }
            .item__button{
                padding: 21px 0 20px 76px;   
                a{
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 18px;
                }
            }
            .item--blue,
            .item--purple{
                margin-bottom: 30px;
            }
        }
    }
}


