.functional{
    padding-top: 50px;
    background-color: #F5F9FF;
    .functional_carousel{
        width: 580px;
        .functional__tab{
            .nav-tabs{
                margin-bottom: 41px;
                border: none;
                button{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    margin-right: 16px;
                    &.nav-link{
                        border-radius: 5px;
                        color: #AAAAAA;
                        background: #FFFFFF;
                        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
                        &.nav-link--windows{
                            padding: 21px 28px 21px 33px;
                        }
                        &.nav-link--android{
                            padding-left: 32px;
                            padding-right: 36px;
                            
                        }
                        &.nav-link--iOS{
                            padding-left: 28px;
                            padding-right: 28px;
                            margin-right: 0;
                        }
                        .nav-link__img{
                            margin-right: 16px;                        
                        }
                        .nav-link__text{
                            
                        }
                    }
                    &.active{
                        color: #FFFFFF;
                        background: linear-gradient(82.58deg, #0AA6FE 37.16%, #05FFFF 163.86%);
                        box-shadow: 0px 15px 25px rgba(0, 163, 255, 0.3);
                        border: none;
                        .nav-link__img{
                            filter: brightness(0) invert(1);
                        }
                        
                    }
                }
            }
        } 
       .carousel{
        width: 300px;
        margin: 0 auto;
       } 
    }
    .carousel-inner{        
        .carousel-item{
            padding-right: 30px;
        }
        .active{
            padding-right: 30px;
        }        
    }

    .carousel-control-prev{      
        align-items: flex-end;
        margin-left: 85px;
        .carousel-control-prev-icon{
            background-image: url(assets/img/carousel-arrow-left.svg);
            background-repeat: no-repeat;
            width: 60px;
            height: 30px;
        }
    }
    .carousel-control-next{
        align-items: flex-end;
        margin-right: 75px;    
        .carousel-control-next-icon{
            background-image: url(assets/img/carousel-arrow-left.svg);
            background-repeat: no-repeat;
            transform: rotate(180deg);
            width: 60px;
            height: 30px;
        }
    }


    .functional_block{
        width: 650px;
        margin-left: 90px;        
        h2{
            text-align: center;
            margin-bottom: 25px;
    
            font-weight: 800;
            font-size: 45px;
            line-height: 55px;
    
            color: $text;
    
            position: relative;

            &::before{
                content: "";
                width: 40px;
                height: 8px;
                background: $primary-color;
                position: absolute;            
                transform: translateX(-35px) rotate(-45deg) translateY(10px);
            }
            &::after{
                content: "";
                width: 40px;
                height: 8px;
                background: $primary-color;
                position: absolute;            
                transform: translateX(-55px) rotate(-45deg) translateY(60px);
            }
        }
        
        
        p{        
            text-align: center;
            padding: 0 60px;
            margin-bottom: 60px;
    
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
    
            color: #828282;
        }
        .list-group{
            width: 535px;
            margin: 0 auto;
            margin-bottom: 70px;
            .list-group-item{
                border: none;
                background:none;
                padding-bottom: 30px;
                &:last-child{
                    padding-bottom: 0;
                }
                span{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                }
                
            }
        }
        .alert{
            margin-bottom: 57px;
        }
        .alert-warning{
            color: #828282;
            background-color: $white;
            border: $white;

            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            use{
                color: $primary-color;
            }
        }
        .btn-row{
            
            .btn-primary{
                color: $white;
                border: none;

                font-weight: 600;
                font-size: 18px;

                padding: 26px 34px;
                margin-right: 26px;
                span:first-child{
                    margin-left: 0;
                }
            }
            .btn-secondary{
                color: $white;
                border: none;

                font-weight: 600;
                font-size: 18px;
                
                padding: 22px 28px;
                span:first-child{
                    margin-left: 0;
                }
            }
        }        
    }
}

@media(max-width: 375px){
    .container{
        flex-wrap: wrap;
        .functional_carousel{
            order: 2;
        }
        .functional_block{            
            order: 1;
        }
    }    
}