.intro{
    margin-top: -126px;
    padding-top: 85px;
        background:
        
        url(assets/img/background-image-baggy.png) no-repeat top,    
        
        url(assets/img/background_wave_top.png) center bottom/100% no-repeat,
        
        url(assets/img/background.jpg) center/cover no-repeat;
        
    
    .container{
        padding-bottom: 310px; 
           
    }    
    .container-title{
        position: relative;
    
        max-width: 611px;
        margin-top: 125px;
    
        font-weight: 800;    
        line-height: 67px;
    
        h1{
            color:$white;
        }    
        &::after{
            content: "";
            position: absolute;
            width: 110px;
            height: 5px;
            background: $primary-gradient;
            bottom: -28px;
            left: 0;
        }
    
        &::before{
            content: "";
            position: absolute;
            width: 40px;
            height: 24px;
            border-top: 8px solid $primary-color;
            border-bottom: 8px solid $primary-color;
            left: -24px;
            top: 6px;
            transform: rotate(-45deg);
        }      
    }
    
    .container-text{
        max-width: 680px;
    
        margin-top: 60px;
    
        p {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
    
            color: $white;
        }
        
    }
    
    .btn-row{
        margin-top: 46px;

        position: relative;

        .btn-primary{
            color: $white;
            border-color: none;
            border-color: $primary-color;
        }
        &::before{
            content: url(assets/img/background-image-tools.png);
            
            position: absolute;          
            top: 92px;
            left: -168px;
        }    
    }
    // }
    a.btn.btn-success.btn-intro {
        margin-left: 34px;    
    }
}

// @media(max-width: 375px) {
//     .intro{
//         .container-title{
//             position: relative;
        
//             max-width: 334px;
//             margin-top: 46px;        
            
//             h1{                
//                 font-weight: 800;
//                 font-size: 30px;
//                 line-height: 37px;
//                 text-align: center;
//             }
//             &::after{
//                 content: "";
//                 position: absolute;
//                 width: 110px;
//                 height: 3px;
//                 background: $primary-gradient;
//                 transform: translate(100%);                
//             }
//         }
//         .container-text{
//             font-weight: 600;
//             font-size: 12px;
//             line-height: 15px;
//             text-align: center;
//         }
//         .btn-row {
//             margin-top: 30px;
//             display: flex;
//             flex-wrap: wrap;
//             justify-content: center;
//             a.btn.btn-success.btn-intro{
//                 margin-left: 0;
//                 margin-top: 17px;
//             }
//             &::before{
//                 content: url(assets/img/background-image-tools.png);
//                 width: 437px;
//                 height: 142px;
//                 position: absolute;          
//                 top: 165px;
//                 left: -5px;
//             } 
//         }
//     }
    
// }