.tarifs{
    padding-top: 106px;
    background: #F5F9FF;
    padding-bottom: 135px;
    h2{
        font-weight: 800;
        font-size: 45px;
        line-height: 55px;

        color: #2E3A59;
        margin-bottom: 64px;
        position: relative;
        &::before{
            content: "";
            width: 40px;
            height: 8px;
            background-color: $primary-color;
            position: absolute;
            transform: translateX(-40px) rotate(-45deg) translateY(5px);
        }
        &::after{
            content: "";
            width: 40px;
            height: 8px;
            background-color: $primary-color;
            position: absolute;
            transform: translateX(-60px) rotate(-45deg) translateY(65px);
        }
    }
    .tarifs__tab{
        .nav-tabs{
            margin-bottom: 60px;
            border: none;
            button{
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                margin-right: 16px;
                &.nav-link{
                    border-radius: 5px;
                    color: #AAAAAA;
                    background: #FFFFFF;
                    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.03);
                    &.nav-link--windows{
                        padding: 21px 28px 21px 33px;
                    }
                    &.nav-link--android{
                        padding-left: 32px;
                        padding-right: 36px;
                        
                    }
                    &.nav-link--iOS{
                        padding-left: 28px;
                        padding-right: 28px;
                        margin-right: 0;
                    }
                    .nav-link__img{
                        margin-right: 16px;                        
                    }
                    .nav-link__text{
                        
                    }
                }
                &.active{
                    color: #FFFFFF;
                    background: linear-gradient(82.58deg, #0AA6FE 37.16%, #05FFFF 163.86%);
                    box-shadow: 0px 15px 25px rgba(0, 163, 255, 0.3);
                    border: none;
                    .nav-link__img{
                        filter: brightness(0) invert(1);
                    }
                    
                }
            }
        }
    }    
    .tarifs__item{        
        .item__category{        
            font-weight: 600;
            font-size: 21px;
            line-height: 26px;
            color: $white;
            text-align: center;
            padding-top: 22px;
            padding-bottom: 22px;
            border-top-right-radius: 55px;
            border-bottom-left-radius: 55px;
        } 
        .item--blue__category{
            width: 416px;
            background: linear-gradient(103.24deg, #05FFFF -7.39%, #0AA6FE 85.9%);
            box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
        } 
        .item--purple__category{
            width: 416px;
            background: linear-gradient(89.46deg, #DDA6FF -5.85%, #D828F4 106.28%);
            box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
        }
        .item--red__category{
            width: 416px;
            background: linear-gradient(98.51deg, #FF9898 14.64%, #FF1F00 102.27%);
            box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
        }
        h3{
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;            
            text-align: center;
            color: #2E3A59;
            padding-top: 36px;
            padding-bottom: 34px;
        }
        ul{
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #2E3A59;
            padding-left: 93px;
            li{
                padding-bottom: 26px;
                padding-left: 12px;
                &::before{
                    content: url(assets/img/tarifs-check-ico.svg);
                    transform: translateX(-15px) rotate(360deg) translateY(-10px);
                    background: none;
                }
                &.list--false{
                    &::before{
                        content: url(assets/img/tarifs-close-ico.svg);
                        transform: translateX(-15px) rotate(360deg) translateY(-10px);
                        background: none;
                    }  
                }
            }            
        }
        .item__price{
            margin-left: 134px;
            margin-bottom: 21px;
            :first-child{
                margin-left: 10px;
            }
            p{
                font-weight: 600;
                font-size: 45px;
                line-height: 55px;
                color: #2E3A59;
                position: relative;
                &::after{
                    content: url(assets/img/tarifs-currency-ico-₽.svg);
                    position: absolute;
                    transform: translateX(24px) rotate(0deg) translateY(-8px);
                }
            }
        }
        .item__button{
            background: $primary-color;
            border-radius: 0px 0px 5px 55px;
            overflow: hidden;
            padding: 25px 0 30px 130px;
            a{
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: $white;
                text-decoration: none; 
                span{
                    margin-left: 22px;
                    :hover{
                        background-color: #0AA6FE;
                        border: 1px solid black;
                    }
                }               
            }
        }
    }
}

.nav-pills .nav-link{
    background-color: #FFFFFF;
}

.item--blue,
.item--purple,
.item--red
{
    background-color: $white;
    border-radius: 5px 55px 0px;
} 

.item--purple{
    margin: 0 36px 0 36px;
}