.testimonials{
    background: #F5F9FF;    
    // background: 
    // url(assets/img/background.jpg) center bottom/100% no-repeat; 
    background: linear-gradient(113.28deg, #1A47EA 6.67%, #82E9FF 99.48%);
   
    .testimonials__backgroundwave{
        img{
            width: 100%;
        }
        
        margin: 0 auto;
    }
    h2{
        margin-top: 51px;
        text-align: center;        
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 40px;
            height: 24px;
            border-top: 8px solid $primary-color;
            border-bottom: 8px solid $primary-color;
            transform: translateX(-22px) rotate(-45deg) translateY(-7px);
        }
    }
    &__slider{
        max-width: 990px;
        width: 100%;
        margin: 0 auto;         
        border-radius: 5px; 
        padding: 0 82px 61px;           
        img{
            display: block;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 5px solid $white;
            margin: -60px auto 0;            
        }
        h5{
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #2E3A59;
            position: relative;
            margin-bottom: 0;
            margin-top: 10px;
            &::after{
                content: url(assets/img/testimonials-title-after.svg);
                position: absolute;
                top: -9px;
                left: 455px;
            }
        }
        p{
            margin-top: 20px;
            padding: 0 112px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
    
            color: #2E3A59;
        } 
    }
    
}

.slick-track{
    padding-top: 77px; 
    padding-bottom: 30px; 
}

// .slick-list{
//     width: 1000px;
// }

.slick-slide{
    background-color: #fff;
    position: relative;
    &::before{
        content: url(assets/img/testimonials-slider-decor.png);
        position: absolute;
        top: -25px;
        left: 0;        
    }
    &::after{
        content: url(assets/img/testimonials-slider-decor.png);
        position: absolute;
        transform: rotate(180deg);
        top: 168px;
        left: 777px;       
    }
}

.slick-arrow{
    width: 115px;
    height: 115px;    
    border-radius: 15px;
    transform: rotate(45deg);    
    z-index: 10;
    background: linear-gradient(103.01deg, #0AA6FE -49.1%, #05FFFF 177.15%);
    box-shadow: 0px 4px 25px rgba(10, 166, 254, 0.48), inset 0px 0px 25px rgba(0, 50, 180, 0.3);
}

.slick-next{
    right: 25px;
    top: 114px;
    &:before{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-top: 4px solid $white;
        border-right: 4px solid $white;        
        transform: translate(230%, 0);        
    }
}

.slick-prev{
    left: 25px;
    top: 114px;
    &:before{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 4px solid $white;
        border-left: 4px solid $white;        
        transform: translate(230%, 0);        
    }
}