<section class="contacts">
    <div class="container">
        <h2>КОНТАКТЫ</h2>
        <div class="row">
            <div class="col-7 col__img">
              <!-- <img src="assets/img/contacts-img.svg" alt=""> -->
            </div>
            <div class="col-5 col__form">
                <h4>Обратная связь</h4>
                <div class="d-flex">                    
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ваше имя">

                    <label for="exampleFormControlInput2" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="E-mail">
                  </div>
                  <div class="1">
                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Комментарий"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary d-block">Отправить</button>
            </div>
          </div>
    </div>
</section>