<div class="container container-intro">
    <div class="container-title">
        <h1>
            ЧИТЫ НА P<span><img class="title-icon" src="assets/img/PUBG-icon.svg" alt="PUBG PUBG-icon"></span>UBG ЛУЧШИЕ НА РЫНКЕ БЕЗ БАНА!
        </h1>
    </div>
    <div class="container-text">
        <p>
            Лучшие сборки на рынке, проверенные опытом и временем, а также, оптимальное соотношение цены, надежности и производительности
            <br>
            Самая низкая цена за мегахеш
        </p>
    </div>
    <div class="intro-buttons">
        <a href="#" class="btn btn-primary btn-intro">Купить<span><img src="assets/img/button-ico-arrow.svg" alt="arrow-ico"></span></a>
        <a href="#" class="btn btn-success btn-intro">Посмотреть видео</a>
    </div>
    
</div>