<section class="tarifs">
    <div class="container">
        <h2 class="text-center">ТАРИФЫ</h2>
        <div class="tarifs__tab d-flex justify-content-center">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active nav-link--windows" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><span class="nav-link__img"><img src="/dev/assets/img/window-ico.png" alt=""></span>
                <span class="nav-link__text">Windows</span></button>

              <button class="nav-link nav-link--android" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><span class="nav-link__img"><img src="/dev/assets/img/android-ico.png" alt=""></span>Android</button>

              <button class="nav-link nav-link--iOS" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><span class="nav-link__img"><img src="/dev/assets/img/iOS-ico.svg" alt=""></span>iOS</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
          </div>          
        </div>
        <div class="tarifs__item d-flex justify-content-center">
          <div class="item--blue">
            <div class="item--blue__category item__category">ОБЫЧНАЯ</div>
            <h3 class="item__title">1 месяц</h3>
            <ul class="item__list">
              <li>Весь функционал чита</li>
              <li>Обновления 1 раз в месяц</li>
              <li>Техническая поддержка</li>
              <li>Анти-Бан</li>
              <li class="list--false">Улучшенная оптимизация</li>
              <li class="list--false">Запуск на других телефонах</li>
              <li class="list--false">DPI+,  ASN, SKK</li>
            </ul>
            <div class="item__price">
             <p>649</p>             
            </div>
            <div class="item__button">
              <a href="#">Приобрести<span><img src="assets/img/tarifs-arrow-ico.svg" alt=""></span></a>
            </div>
          </div>
          <div class="item--purple">
            <div class="item--purple__category item__category">СТАНДАРТНАЯ</div>
            <h3 class="item__title">3 месяца</h3>
            <ul class="item__list">
              <li>Весь функционал чита</li>
              <li>Обновления 1 раз в месяц</li>
              <li>Техническая поддержка</li>
              <li>Анти-Бан</li>
              <li>Улучшенная оптимизация</li>
              <li>Запуск на других телефонах</li>
              <li class="list--false">DPI+,  ASN, SKK</li>
            </ul>
            <div class="item__price">
             <p>1499</p>             
            </div>
            <div class="item__button">
              <a href="#">Приобрести<span><img src="assets/img/tarifs-arrow-ico.svg" alt=""></a>
            </div>
          </div>
          <div class="item--red">
            <div class="item--red__category item__category">PRO-ВЕРСИЯ</div>
            <h3 class="item__title">Навсегда</h3>
            <ul class="item__list">
              <li>Весь функционал чита</li>
              <li>Обновления 1 раз в месяц</li>
              <li>Техническая поддержка</li>
              <li>Анти-Бан</li>
              <li>Улучшенная оптимизация</li>
              <li>Запуск на других телефонах</li>
              <li>DPI+,  ASN, SKK</li>
            </ul>
            <div class="item__price">
             <p>2899</p>             
            </div>
            <div class="item__button">
              <a href="#">Приобрести<span><img src="assets/img/tarifs-arrow-ico.svg" alt=""></a>
            </div>
          </div>
        </div>
    </div>
</section>