<section class="testimonials">
    <div class="testimonials__backgroundwave">
        <img src="/dev/assets/img/testimonials-border-top.svg" alt="">
    </div>
    <div class="container">
        
        <h2 class="text-white">ЧТО ГОВОРЯТ О НАС</h2>
        <div class="testimonials__slider">
                <div>
                    <img src="/dev/assets/img/test-cat.jpeg" alt="">
                    <h5>Егор Черняев</h5>
                    <p>Рекомендую данный софт! Аналогов не нашел нигде, я решил не 
                    заморачиваться и сразу приобрел ПРО версию и 
                    теперь играю в свое удовольствие.</p>
                </div>
                <div>
                    <img src="/dev/assets/img/test-cat.jpeg" alt="">
                    <h5>Егор Черняев</h5>
                    <p>Рекомендую данный софт! Аналогов не нашел нигде, я решил не 
                    заморачиваться и сразу приобрел ПРО версию и 
                    теперь играю в свое удовольствие.</p>
                </div>
                <div>
                    <img src="/dev/assets/img/test-cat.jpeg" alt="">
                    <h5>Егор Черняев</h5>
                    <p>Рекомендую данный софт! Аналогов не нашел нигде, я решил не 
                    заморачиваться и сразу приобрел ПРО версию и 
                    теперь играю в свое удовольствие.</p>
                </div>
        </div>
    </div>
</section>